<div ng-controller="VehiclesCtrl">
    <!-- vehicles list -->
    <div class=" ">
        <button id="addVehicleButton " ng-click="onVehicleAdded() " class="btn btn-default small-margin " tooltip-placement="bottom"
        uib-tooltip="{{helpTexts.vehicleAddVehicleButton}}" tooltip-enable="isHelpButtonPressed"><span class="glyphicon
		glyphicon-plus "></span> Add Vehicle</button>
        <ul class="list-group scrollable-list-view" style="height:20%;">
            <li ng-repeat="vehicle in vehicles track by $index " ng-click="onVehicleSelected(vehicle.id, $index)" ng-class="{'active': $index == selectedIndex}"
            class="list-group-item ">
                {{ vehicle.getName() }}
                <button ng-click="onVehicleRemoved(vehicle.id)" class="btn btn-default btn-sm pull-right " tooltip-placement="bottom" uib-tooltip="{{helpTexts.vehicleRemoveVehicleButton}}"
                tooltip-enable="isHelpButtonPressed"><span class="glyphicon glyphicon-remove "></span></button>
            </li>
        </ul>
    </div>
    <div class=" ">
        <div class="panel panel-default small-margin ">
            <div class="panel-heading ">
                <h3 class="panel-title ">{{selectedVehicle.getName()}}</h3>
            </div>
            <div class="panel-body ">
                <div class="input-group ">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Id:</label>
                        </div>
                        <div class="col-md-8">
                            <input ng-model="selectedVehicle.id" ng-model-options="{ getterSetter: true }" ng-change="recalculateOperatingPrice()" class="form-control "
                            readonly=true tooltip-placement="top" uib-tooltip="{{helpTexts.vehicleIdOfVehicleTextbox}}" tooltip-enable="isHelpButtonPressed"
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Name:</label>
                        </div>
                        <div class="col-md-8">
                            <input ng-model="selectedVehicle.Name" ng-model-options="{ getterSetter: true }" ng-change="recalculateOperatingPrice()"
                            class="form-control " tooltip-placement="top" uib-tooltip="{{helpTexts.vehicleNameOfVehicleTextbox}}"
                            tooltip-enable="isHelpButtonPressed" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Capacity:</label>
                        </div>
                        <div class="col-md-8">
                            <input ng-model="selectedVehicle.Capacity" min="0" ng-model-options="{ getterSetter: true }" ng-change="recalculateOperatingPrice()"
                            class="form-control " type="number" style="height:35px " tooltip-placement="top" uib-tooltip="{{helpTexts.vehicleCapacityOfVehicleTextbox}}"
                            tooltip-enable="isHelpButtonPressed" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Max Speed:</label>
                        </div>
                        <div class="col-md-8">
                            <input ng-model="selectedVehicle.MaxSpeed" min="0" ng-model-options="{ getterSetter: true }" ng-change="recalculateOperatingPrice()"
                            class="form-control " type="number" style="height:35px " tooltip-placement="top" uib-tooltip="{{helpTexts.vehicleMaxSpeedOfVehicleTextbox}}"
                            tooltip-enable="isHelpButtonPressed" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Acceleration:</label>
                        </div>
                        <div class="col-md-8">
                            <input ng-model="selectedVehicle.Acceleration" min="0" ng-model-options="{ getterSetter: true }" ng-change="recalculateOperatingPrice()"
                            class="form-control " type="number" style="height:35px " tooltip-placement="top" uib-tooltip="{{helpTexts.vehicleAccelerationOfVehicleTextbox}}"
                            tooltip-enable="isHelpButtonPressed" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Length:</label>
                        </div>
                        <div class="col-md-8">
                            <input ng-model="selectedVehicle.Length" min="0" ng-model-options="{ getterSetter: true }" ng-change="recalculateOperatingPrice()"
                            class="form-control" type="number" style="height:35px" tooltip-placement="top" uib-tooltip="{{helpTexts.vehicleLengthOfVehicleTextbox}}"
                            tooltip-enable="isHelpButtonPressed" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Type:</label>
                        </div>
                        <div class="col-md-8">
                            <input ng-model="selectedVehicle.Type" ng-model-options="{ getterSetter: true }" ng-change="recalculateOperatingPrice()"
                            class="form-control " tooltip-placement="top" uib-tooltip="{{helpTexts.vehicleTypeOfVehicleTextbox}}"
                            tooltip-enable="isHelpButtonPressed" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-group small-margin" role="group">
        <button class="btn btn-default" ng-click="onShowOrHideVehicleInfoWindowsButton()" uib-tooltip="{{helpTexts.vehicleInfoWindow}}"
        tooltip-enable="isHelpButtonPressed">{{vehicleInfoWindowText}}</button>
    </div>
</div>