<div ng-controller="ZonesCtrl">
    <div class="">
        <div class="col-lg-12">
            <button id="createResidentialZoneButton" ng-click="onResidentialZoneCreateButtonPressed(0)" style="background-color:#005c00; width:inherit; color:white"
            tooltip-placement="bottom" uib-tooltip="{{helpTexts.mapEditorResidentialZone + helpTexts.mapEditorDenseZone}}"
            tooltip-enable="isHelpButtonPressed" class="btn btn-default" ng-disabled='active["lockmode"]'>
                <!-- add icon -->
                <span class="glyphicon glyphicon-plus"></span>
                <!-- text -->
                Create Dense Residential Zone
                <!-- format_shapes icon -->
                <i class="material-icons">format_shapes</i>
            </button>

            <button id="createResidentialZoneButton" ng-click="onResidentialZoneCreateButtonPressed(1)" style="background-color:#00b800; width:inherit"
             class="btn btn-default" tooltip-placement="bottom" uib-tooltip="{{helpTexts.mapEditorResidentialZone + helpTexts.mapEditorMediumZone}}"
            tooltip-enable="isHelpButtonPressed" ng-disabled='active["lockmode"]'>
                <!-- add icon -->
                <span class="glyphicon glyphicon-plus"></span>
                <!-- text -->
                Create Medium Residential Zone
                <!-- format_shapes icon -->
                <i class="material-icons">format_shapes</i>
            </button>

            <button id="createResidentialZoneButton" ng-click="onResidentialZoneCreateButtonPressed(2)" style="background-color:#61ff61; width:inherit"
             class="btn btn-default" tooltip-placement="bottom" uib-tooltip="{{helpTexts.mapEditorResidentialZone + helpTexts.mapEditorLightZone}}"
            tooltip-enable="isHelpButtonPressed" ng-disabled='active["lockmode"]'>
                <!-- add icon -->
                <span class="glyphicon glyphicon-plus"></span>
                <!-- text -->
                Create Light Residential Zone
                <!-- format_shapes icon -->
                <i class="material-icons">format_shapes</i>
            </button>

            <button id="createIndustryZoneButton" ng-click="onIndustryZoneCreateButtonPressed(0)" style="background-color:#a86d00; width:inherit" 
				class="btn btn-default " tooltip-placement="bottom "
					uib-tooltip="{{helpTexts.mapEditorIndustryZone + helpTexts.mapEditorDenseZone}} " tooltip-enable="isHelpButtonPressed
            " ng-disabled='active["lockmode "]'>
					<!-- add icon -->
					<span class="glyphicon glyphicon-plus "></span>
					<!-- text -->
					Create Dense Industry Zone
					<!-- format_shapes icon -->
					<i class="material-icons ">format_shapes</i>
				</button>

				<button id="createIndustryZoneButton " ng-click="onIndustryZoneCreateButtonPressed(1) " style="background-color:#FFA500;
            width:inherit "
				class="btn btn-default " tooltip-placement="bottom "
					uib-tooltip="{{helpTexts.mapEditorIndustryZone + helpTexts.mapEditorMediumZone}} " tooltip-enable="isHelpButtonPressed
            " ng-disabled='active["lockmode "]'>
					<!-- add icon -->
					<span class="glyphicon glyphicon-plus "></span>
					<!-- text -->
					Create Medium Industry Zone
					<!-- format_shapes icon -->
					<i class="material-icons ">format_shapes</i>
				</button>

				<button id="createIndustryZoneButton " ng-click="onIndustryZoneCreateButtonPressed(2) " style="background-color:#ffd68a;
            width:inherit " class="btn btn-default " tooltip-placement="bottom "
					uib-tooltip="{{helpTexts.mapEditorIndustryZone + helpTexts.mapEditorLightZone}} " tooltip-enable="isHelpButtonPressed
            " ng-disabled='active["lockmode "]'>
					<!-- add icon -->
					<span class="glyphicon glyphicon-plus "></span>
					<!-- text -->
					Create Light Industry Zone
					<!-- format_shapes icon -->
					<i class="material-icons ">format_shapes</i>
				</button>

				<button id="createCommercialZoneButton " ng-click="onCommercialZoneCreateButtonPressed(0) " style="background-color:#001357;
            width:inherit; color:white "
				class="btn btn-default " tooltip-placement="bottom "
					uib-tooltip="{{helpTexts.mapEditorCommercialZone + helpTexts.mapEditorDenseZone}} " tooltip-enable="isHelpButtonPressed
            " ng-disabled='active["lockmode "]'>
					<!-- add icon -->
					<span class="glyphicon glyphicon-plus "></span>
					<!-- text -->
					Create Dense Commercial Zone
					<!-- format_shapes icon -->
					<i class="material-icons ">format_shapes</i>
				</button>

				<button id="createCommercialZoneButton " ng-click="onCommercialZoneCreateButtonPressed(1) " style="background-color:#5277ff;
            width:inherit; color:white "
				class="btn btn-default " tooltip-placement="bottom "
					uib-tooltip="{{helpTexts.mapEditorCommercialZone + helpTexts.mapEditorMediumZone}} " tooltip-enable="isHelpButtonPressed
            " ng-disabled='active["lockmode "]'>
					<!-- add icon -->
					<span class="glyphicon glyphicon-plus "></span>
					<!-- text -->
					Create Medium Commercial Zone
					<!-- format_shapes icon -->
					<i class="material-icons ">format_shapes</i>
				</button>

				<button id="createCommercialZoneButton " ng-click="onCommercialZoneCreateButtonPressed(2) " style="background-color:#a8bbff;
            width:inherit "
				class="btn btn-default " tooltip-placement="bottom "
					uib-tooltip="{{helpTexts.mapEditorCommercialZone + helpTexts.mapEditorLightZone}} " tooltip-enable="isHelpButtonPressed
            " ng-disabled='active["lockmode "]'>
					<!-- add icon -->
					<span class="glyphicon glyphicon-plus "></span>
					<!-- text -->
					Create Light Commercial Zone
					<!-- format_shapes icon -->
					<i class="material-icons ">format_shapes</i>
				</button>

			<br>
			<br>

				<div class="btn-group small-margin ">
					<button id="editButton " ng-click="onEditModeButtonPressed() " class="btn btn-default " tooltip-placement="bottom "
					uib-tooltip="{{helpTexts.mapEditorEditModeButton}} " tooltip-enable="isHelpButtonPressed " ng-class="{ 'active': active[
            'editmode']==true} ">
						<!-- text -->
						Edit Zones
						<!-- mode_edit icon -->
						<i class="material-icons ">mode_edit</i>
					</button>

					<button id="moveButton " ng-click="onLockModeButtonPressed() " class="btn btn-default " tooltip-placement="bottom "
					uib-tooltip="{{helpTexts.mapEditorLockModeButton}} " tooltip-enable="isHelpButtonPressed " ng-class="{ 'active': active[
            'lockmode']==true} ">
						<!-- text -->
						Lock Zones
						<!-- call_made icon -->
						<i class="material-icons ">lock</i>
					</button>
				</div>

			<br>
		<br>
			<br>
			<br>

				<div class="btn-group small-margin ">
					<button id="saveButton " ng-click="onSaveButtonPressed() " class="btn btn-default " tooltip-placement="top "
					uib-tooltip="{{helpTexts.mapEditorSaveButton}} " tooltip-enable="isHelpButtonPressed ">
						<!-- text -->
						Save
						<!-- sd_storage icon -->
						<i class="material-icons ">sd_storage</i>
					</button>
					<button id="loadButton " ng-click="onLoadButtonPressed() " class="btn btn-default " tooltip-placement="top "
					uib-tooltip="{{helpTexts.mapEditorLoadButton}} " tooltip-enable="isHelpButtonPressed ">
						<!-- text -->
						Open File
						<!-- folder_open icon -->
						<i class="material-icons ">folder_open</i>
					</button>
					
					<button uib-popover-template="mapEditorDynamicPopover.popupWindowUrl " popover-trigger="focus "
									popover-placement="top " type="button " class="btn btn-default " ng-click="isHelpButtonPressed=! isHelpButtonPressed
            " ng-class="{ 'btn-primary': isHelpButtonPressed} "><span class="material-icons ">live_help</span></button>
			</div>
		</div>
	</div>
</div>
</div>