html, body {
      height: 100%;
      margin: 0;
      padding: 0;
}
body {
	padding-bottom: 50px;
}
.map-style {
      height: 100%;
}
.small-margin {
	margin: 5px;
}
.list-group {
	margin: 5px;
}
.scrollable-list-view {
    width: 100%;
    overflow-y: scroll;
    overflow-x:hidden;
}
.fill-vertical {
	height: 100%;
}
.scrollable-sidebar {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
}
.tab-container {
	padding-bottom: 50px;
	height: 100%;
}
.app-modal-window .modal-dialog {
  width: 1100px;
  height: 60%;
}
.timePickerStyle {
	width: 70%;
} 

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
  	src: url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2');
}

.material-icons {
	vertical-align: middle;
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

/* to override values from material.css */
h3, h4, h5 {
  padding-top: 0px;
  margin-bottom: 0px;}