<html>

<head>
    <link rel="stylesheet" type="text/css" href="../../node_modules/material-design-icons/www/css/material.css">
    <link rel="stylesheet" type="text/css" href="../style.css">

    <script src="https:/maps.googleapis.com/maps/api/js?key=AIzaSyADjSDPQ2ZPas7_uuje2amH1ykfQrueXuk&libraries=drawing"></script>

    <script type="text/javascript" src="js/Utilities/MapService.js"></script>
    <script type="text/javascript" src="../../node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="../../node_modules/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>

    <script type="text/javascript" src="js/ObservableEvent.js"></script>

    <script type="text/javascript" src="js/Utilities/Annotations/Deprecated.js"></script>
    <script type="text/javascript" src="js/Utilities/Repository/EntityObject.js"></script>
    <script type="text/javascript" src="js/Utilities/Repository/Repository.js"></script>
    <script type="text/javascript" src="js/Utilities/Repository/RepositoryEventArgs.js"></script>
    <script type="text/javascript" src="js/Utilities/ObjectManager/ObjectManager.js"></script>
    <script type="text/javascript" src="js/Simulation/FastClock.js"></script>

    <script type="text/javascript" src="js/MapEditor/MainController.js"></script>
    <script type="text/javascript" src="js/MapEditor/TabsController.js"></script>

    <script type="text/javascript" src="js/JSONFileWriter.js"></script>
    <script type="text/javascript" src="js/JSONFileReader.js"></script>
    <script type="text/javascript" src="js/MapEditor/MapSaver.js"></script>
    <script type="text/javascript" src="js/MapEditor/MapLoader.js"></script>

    <script type="text/javascript" src="js/Zones/Model/ZoneManager.js"></script>
    <script type="text/javascript" src="js/Zones/Model/Zone.js"></script>
    <script type="text/javascript" src="js/Zones/Model/ZoneRepository.js"></script>
    <script type="text/javascript" src="js/Zones/ZonesController.js"></script>

    <script type="text/javascript" src="js/Help/HelpController.js"></script>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
    crossorigin="anonymous">-->
	<link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body ng-app="TimetableSimulator" ng-controller="MainCtrl">
    <div ng-controller="HelpCtrl">
        <div class="container-fluid">
            <div class="row">
                <div id="map" class="map-style col-xs-9"></div>
                <div class="col-xs-3">
                    <div ng-controller="TabsCtrl" class="row tab-container">
                        <uib-tabset>
                            <uib-tab ng-repeat="tab in tabs" active="tab.active" disable="tab.disabled" select="tab.onTabSelected()">
                                <uib-tab-heading>{{tab.title}}</uib-tab-heading>
                                <div ng-include="tab.contentURL" class="scrollable-sidebar"></div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>