<div ng-controller="LinesCtrl">
	<div class="">
		<!-- lines list -->
		<div class="col-lg-12">
			<div class="row">
				<div class="btn-group small-margin" role="group">
					<button id="addSteetBoundLineButton" ng-click="onAddStreetBoundLineButtonPressed()" class="btn btn-default" tooltip-placement="bottom"
					uib-tooltip="{{helpTexts.linesAddStreetBoundLineButton}}" tooltip-enable="isHelpButtonPressed" ng-disabled="streetBoundLine">
						<!-- add icon -->
						<span class="glyphicon glyphicon-plus"></span>
						<!-- text -->
						Add bus line
						<!-- bus icon -->
						<i class="material-icons">directions_bus</i>
					</button>

					<button id="addUnboundLineButton" ng-click="onAddUnboundLineButtonPressed()" class="btn btn-default" tooltip-placement="bottom"
					uib-tooltip="{{helpTexts.linesAddUnboundLineButton}}" tooltip-enable="isHelpButtonPressed" ng-disabled="unboundLine">
						<!-- add icon -->
						<span class="glyphicon glyphicon-plus"></span>
						<!-- text -->
						Add train line
						<!-- bus icon -->
						<i class="material-icons">directions_subway</i>
					</button>
				</div>
			</div>
			<!-- list view -->
			<div class="row">
				<div class="scrollable-list-view" style="height: 25%">
					<!-- line list -->
					<ul class="list-group">
						<li ng-repeat="line in lines track by $index" ng-click="onLineSelected(line.id, $index)" ng-class="{'active': $index == selectedIndex}"
						class="list-group-item">
							<i class="material-icons md-18" style="margin-right:5px">{{line.data.icon}}</i>{{ line.data.name }}
							<button ng-click="onLineRemovedById(line.id)" class="btn btn-default btn-sm pull-right"
							tooltip-placement="left"
					uib-tooltip="{{helpTexts.linesRemoveLineButton}}" tooltip-enable="isHelpButtonPressed"><span class="glyphicon glyphicon-remove"></span></button>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- selected line -->
		<div class="col-lg-12">
			<div class="row">
				<div class="panel panel-default small-margin">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="material-icons small-margin">{{selectedLine.data.icon}}</i>{{selectedLine.data.name}}</h3>
					</div>
					<div class="panel-body">
						<div class="input-group">
							<div class="row">
								<div class="col-md-4">
									<label>Id:</label>
								</div>
								<div class="col-md-8">
									<input ng-model="selectedLine.id" readonly=true class="form-control" 
									tooltip-placement="top"
					uib-tooltip="{{helpTexts.linesIdOfLineTextbox}}" tooltip-enable="isHelpButtonPressed"/>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<label>Name:</label>
								</div>
								<div class="col-md-8">
									<input ng-model="selectedLine.data.name" ng-disabled="disableInput()" class="form-control" 
									tooltip-placement="top"
					uib-tooltip="{{helpTexts.linesNameOfLineTextbox}}" tooltip-enable="isHelpButtonPressed"/>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<label>Color:</label>
								</div>
								<div class="col-md-8">
									<input id="lineColor" ng-model="selectedLine.data.color" ng-disabled="disableInput()" type="color" class="form-control" style="width:20px;height:20px;padding:0px"
									tooltip-placement="top"
					uib-tooltip="{{helpTexts.linesLineColorPicker}}" tooltip-enable="isHelpButtonPressed"/>
								</div>
							</div>
							<!-- Onclick load timetable data for the line -->
							<button ng-click="open()" ng-disabled="disableInput()" class="btn btn-default"
							tooltip-placement="top"
					uib-tooltip="{{helpTexts.linesEditTimetablesButton}}" tooltip-enable="isHelpButtonPressed">Edit Timetables</button>
						</div>
					</div>
				</div>
			</div>

			<!-- stations list -->
			<div class="row">
				<div class="scrollable-list-view" style="height:25%;">
					<ul class="list-group">
						<li ng-repeat="station in selectedLine.getWaypointManager().getStationList() track by $index" class="list-group-item">
							{{ station.data.name }}
							<button ng-click="onStationRemovedById(station.id)" class="btn btn-default btn-sm pull-right"><span class="glyphicon glyphicon-remove"
							tooltip-placement="top"
					uib-tooltip="{{helpTexts.linesRemoveStationButton}}" tooltip-enable="isHelpButtonPressed"></span></button>
						</li>
					</ul>
				</div>
				<div class="btn-group small-margin" role="group">
					<button id="addStationButton" ng-click="toggleStationAssignmentMode()" ng-disabled="disableInput()" class="btn btn-default"
					tooltip-placement="top" uib-tooltip="{{helpTexts.linesEditStationsButton}}" tooltip-enable="isHelpButtonPressed" ng-class="{'btn-primary': isStationAssignmentModeEnabled()}">Edit Stations</button>
				</div>
			</div>
		</div>
	</div>
</div>