<div ng-controller="StationsCtrl">
    <div class="">
        <!-- station list -->
        <div class="col-lg-12">
            <div class="row">
                <div class="btn-group small-margin" role="group">
                    <button id="addStationButton" ng-click="onStationAdded()" class="btn btn-default" tooltip-placement="bottom" uib-tooltip="{{helpTexts.stationAddStationButton}}"
                    tooltip-enable="isHelpButtonPressed">
                        <!-- add icon -->
                        <span class="glyphicon glyphicon-plus"></span>
                        <!-- text -->
                        Add station
                        <!-- station icon -->
                        <i class="material-icons">radio_button_checked</i>
                    </button>
                </div>
            </div>
            <!-- list view -->
            <div class="row">
                <div class="scrollable-list-view" style="height: 25%">
                    <!-- station list -->
                    <ul class="list-group">
                        <li ng-repeat="station in stations track by $index" ng-click="onStationSelected(station.id, $index)" ng-class="{'active': $index == selectedIndex}"
                        class="list-group-item">
                            <i class="material-icons md-18" style="margin-right:5px">{{station.data.icon}}</i>{{ station.data.name
                            }}
                            <button ng-click="onStationRemovedById(station.id)" class="btn btn-default btn-sm pull-right" tooltip-placement="left" uib-tooltip="{{helpTexts.stationRemoveStationButton}}"
                            tooltip-enable="isHelpButtonPressed"><span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- selected line -->
        <div class="col-lg-12">
            <div class="row">
                <div class="panel panel-default small-margin">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="material-icons small-margin">{{selectedStation.data.icon}}</i>{{selectedStation.data.name}}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="input-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Id:</label>
                                </div>
                                <div class="col-md-8">
                                    <input ng-model="selectedStation.id" readonly=true class="form-control" tooltip-placement="top" uib-tooltip="{{helpTexts.stationIdOfStationTextbox}}"
                                    tooltip-enable="isHelpButtonPressed" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Name:</label>
                                </div>
                                <div class="col-md-8">
                                    <input ng-model="selectedStation.data.name" ng-disabled="disableInput()" class="form-control" tooltip-placement="top" uib-tooltip="{{helpTexts.stationNameofStationTextbox}}"
                                    tooltip-enable="isHelpButtonPressed" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Size:</label>
                                </div>
                                <div class="col-md-8">
                                    <input ng-model="selectedStation.data.size" ng-disabled="disableInput()" type="number" min="0" class="form-control" tooltip-placement="top"
                                    uib-tooltip="{{helpTexts.stationSizeOfStationTextbox}}" tooltip-enable="isHelpButtonPressed" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-group small-margin" role="group">
        <button class="btn btn-default" ng-click="onShowOrHideStationInfoWindowsButton()" uib-tooltip="{{helpTexts.stationInfoWindow}}"
        tooltip-enable="isHelpButtonPressed">{{stationInfoWindowText}}</button>
    </div>
</div>