<div ng-controller="FinanceCtrl">
    <div class="panel panel-default small-margin ">
        <div class="panel-heading ">
            <h3 class="panel-title ">Financial data for your company</h3>
        </div>
        <div class="panel-body ">
            <div class="input-group ">
                <div class="row">
                    <div class="col-md-4">
                        <label>Balance:</label>
                    </div>
                    <div class="col-md-8">
                        <input ng-model="finances.balance" class="form-control " readonly=true tooltip-placement="top" uib-tooltip="{{helpTexts.financeBalance}}"
                        tooltip-enable="isHelpButtonPressed" />
                    </div>
                </div>
                <div class=" row ">
                    <div class="col-md-4 ">
                        <label>Ticket Price:</label>
                    </div>
                    <div class="col-md-8 ">
                        <input type="number " ng-change="recalculateCompanyImage() " min="0 " ng-model="finances.financeData.ticketPrice
                        " class="form-control " tooltip-placement="top " uib-tooltip="{{helpTexts.financeTicketPrice}} "
                        tooltip-enable="isHelpButtonPressed " />
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-4 ">
                        <label>Company Image:</label>
                    </div>
                    <div class="col-md-8 ">
                        <input ng-model="finances.financeData.companyImage " class="form-control " type="number " readonly="true " tooltip-placement="top "
                        uib-tooltip="{{helpTexts.financeCompanyImage}} " tooltip-enable="isHelpButtonPressed " />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>