<div class="modal-header">
    <h3 class="modal-title">Courses: </h3>
</div>
<div class="modal-body">
	<div class="scrollable-list-view" style="height:100%;">
		<ul class="list-group">
			<li ng-repeat="kurs in timetable.courses track by $index" class="list-group-item">
				<h2 style="display: inline;">
					<input ng-model="kurs.name"/>
				</h2>
				<button ng-click="onRemoveCourseClicked(kurs)" class="btn btn-default" style="display: inline;">Remove Course</button>
				<select ng-init="initVehicle(kurs.id)" ng-model="selectedVehicles[kurs.id]" ng-change="onVehicleSelected(kurs.id)" style="display: inline;">
					<option ng-repeat="vehicle in vehicleRepository.getObjectList()" value="{{vehicle.id}}">{{vehicle.Name}}</option>
				</select>
				<table class="table table-hover">
					<tr>
						<td>Station</td>
						<td>Arrival Time</td>
						<td>Departure Time</td>
						<td>Manual</td>
						<td>Wait at Station</td>
						<td>Stay</td>
					</tr>
					<tr ng-repeat="courseElement in kurs.courseElements">
						<td>{{courseElement.station.data.name}}</td>
						<td>
							<uib-timepicker ng-model="courseElement.arrivalTime" show-meridian="false" class="timePickerStyle"></uib-timepicker>
						</td>
						<td>
							<uib-timepicker ng-model="courseElement.departureTime" show-meridian="false" class="timePickerStyle"></uib-timepicker>
						</td>
						<td><input type="checkbox" ng-model="courseElement.manual" /></td>
						<td><input type="checkbox" ng-model="courseElement.waitAtStation" /></td>
						<td><input type="checkbox" ng-model="courseElement.stay" /></td>
					</tr>
				</table>
			</li>
		</ul>
	</div>
</div>
<div class="modal-footer">
	<button ng-click="onGenerateCoursesClicked()" class="btn btn-primary" type="button">GenerateCourses</button>
	<button ng-click="onAddCourseClicked()" class="btn btn-primary" type="button" >Add Course</button>
    <button ng-click="onOkClicked()" class="btn btn-primary" type="button" >OK</button>
    <button ng-click="onCancelClicked()" class="btn btn-warning" type="button" >Cancel</button>
</div>