<div class="modal-header">
	<h3 class="modal-title">Timetables:</h3>
</div>
<div class="modal-body">
	<div class="scrollable-list-view" style="height:100%;">
		<table class="table table-hover">
			<tr>
				<td>Valid From</td>
				<td>Valid To</td>
				<td>Begin Time</td>
				<td>End Time</td>
				<td>Valid Week Days</td>
			</tr>
			<tr ng-repeat="timetable in timetables">
				<td>
					<input type="date" ng-model="timetable.validFromDate" tooltip-placement="bottom" uib-tooltip="{{helpTexts.timetablesValidFromTextfield}}" tooltip-enable="isHelpButtonPressed"></input>
				</td>
				<td>
					<input type="date" ng-model="timetable.validToDate" tooltip-placement="bottom" uib-tooltip="{{helpTexts.timetablesValidToTextfield}}" tooltip-enable="isHelpButtonPressed"></input>
				</td>
				<td>
					<uib-timepicker ng-model="timetable.beginTime" show-meridian="false" class="timePickerStyle"
					tooltip-placement="bottom" uib-tooltip="{{helpTexts.timetablesBeginTimeTimepicker}}" tooltip-enable="isHelpButtonPressed"></uib-timepicker>
				</td>
				<td>
					<uib-timepicker ng-model="timetable.endTime" show-meridian="false" class="timePickerStyle"
					tooltip-placement="bottom" uib-tooltip="{{helpTexts.timetablesEndTimeTimepicker}}" tooltip-enable="isHelpButtonPressed"></uib-timepicker>
				</td>
				<td>
					<div class="btn-group-vertical" role="group">
						<button ng-repeat="day in timetable.validDays" ng-click="day.enabled = !day.enabled" ng-class="{active: day.enabled}" class="btn btn-default btn-xs"
						tooltip-placement="bottom" uib-tooltip="{{helpTexts.timetablesWeekDayButton}}" tooltip-enable="isHelpButtonPressed">
							{{day.getName()}}
						</button>
					</div>
				</td>
				<td>
					<button ng-click="onRemoveTimetableClicked(timetable)" class="btn btn-default form-control" tooltip-placement="bottom" uib-tooltip="{{helpTexts.timetablesRemoveTimetableButton}}" tooltip-enable="isHelpButtonPressed">Remove Timetable</button>
					<!--<button ng-click="onShowCoursesClicked(timetable)" class="btn btn-default form-control">Show Courses</button>-->
					<!--<button ng-click="onSetIntervalClicked(timetable, $index)" class="btn btn-default form-control" ng-class="{'btn-success': clickSuccessfull[$index] == true}" tooltip-placement="bottom" uib-tooltip="{{helpTexts.timetablesSetIntervalButton}}"
					tooltip-enable="isHelpButtonPressed">Set interval</button>-->
					<input type="number" min="1" placeholder="Interval in minutes" ng-model="timetable.interval" ng-change="checkIfVehicleAllowed(timetable.id)" tooltip-placement="bottom" uib-tooltip="{{helpTexts.timetablesSetIntervalTextfield}}" tooltip-enable="isHelpButtonPressed"></input>
					Vehicle:
					<select ng-init="initVehicle(timetable.id)" ng-model="selectedVehicles[timetable.id]" ng-change="onVehicleSelected(timetable.id)" style="display: inline;"
						tooltip-placement="bottom" uib-tooltip="{{helpTexts.timetablesVehicleDropdown}}" tooltip-enable="isHelpButtonPressed">
						<option ng-repeat="vehicle in vehicleRepository.getObjectList()" value="{{vehicle.id}}">{{vehicle.Name}}</option>
					</select>
					<button ng-click="onRemoveVehicleClicked(timetable.id)" class="btn btn-default form-control" style="display:inline;">Remove Vehicle</button>
				</td>
			</tr>
		</table>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="onAddTimetableClicked()" tooltip-placement="top" uib-tooltip="{{helpTexts.timetablesAddTimetableButton}}" tooltip-enable="isHelpButtonPressed">Add Timetable</button>
	<button class="btn btn-primary" ng-click="onOkClicked()" tooltip-placement="bottom" uib-tooltip="{{helpTexts.timetablesOkButton}}" tooltip-enable="isHelpButtonPressed">OK</button>
	<button class="btn btn-warning" ng-click="onCancelClicked()" tooltip-placement="bottom" uib-tooltip="{{helpTexts.timetablesCancelButton}}" tooltip-enable="isHelpButtonPressed">Cancel</button>
</div>